# Ignored directories
UniversalToken/build
UniversalToken/node_modules
UniversalToken/package-lock.json

smartcontract/build
smartcontract/node_modules
smartcontract/package-lock.json
smartcontract/cache
smartcontract/artifacts
smartcontract/typechain-types
smartcontract/yarn.lock
